<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>청과물 가격 조회</title>
</head>
<body>
<div>
    <form method="get" action="#" name="getting-item-price-form" id="getting-item-price-form">
        <div style="margin-bottom: 5px">
            <label for="category">분류</label>
            <select name="category" id="category">
                <option value="FRUIT">과일</option>
                <option value="VEGETABLE">채소</option>
            </select>
        </div>
        <div style="margin-bottom: 5px">
            <label for="name">이름</label>
            <input type="text" name="name" id="name">
        </div>
        <div style="margin-bottom: 5px">
            <button type="button" onclick="getItemPrice()">가격 조회</button>
        </div>
        <div style="margin-bottom: 5px">
            <div name="price" id="price"></div>
            <div name="message" id="message"></div>
        </div>
    </form>
</div>
</body>
<script>
    function getItemPrice() {
        clearOutput();
        let gettingItemPriceForm = document.querySelector("#getting-item-price-form");
        let queryString = new URLSearchParams(new FormData(gettingItemPriceForm)).toString();
        let gettingItemPriceRequestUrl = "/api/items?" + queryString;
        getRequest(gettingItemPriceRequestUrl, updatePrice);
    }

    function getRequest(requestUrl) {
        fetch(requestUrl, {
            method: 'get',
        }).then((response) => {
            if (response.ok) {
                response.json().then(data => {
                    updatePrice(data.body.price);
                    updateMessage(data.body.message);
                });
                return;
            }
            response.json().then(data => updateMessage(data.message));
        }).catch((error) => {
            alert(error);
        });
    }

    function clearOutput() {
        updatePrice("");
        updateMessage("");
    }

    function updateMessage(message) {
        document.querySelector("#message").innerHTML = message;
    }

    function updatePrice(price) {
        document.querySelector("#price").innerHTML = price;
    }
</script>
</html>